* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f8fafc;
}

.container {
    width: 90%;
    margin: 0 auto;
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* 네비게이션 영역 전용 */
nav {
    height: 60px;
    border-bottom: 2px solid #eeeeee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
    line-height: 60px;
}

nav::after {
    content: " ";
    display: block;
    clear: both;
}


.nav-logo {
    float: left;
    margin: 0;
}

.nav-menu {
    float: right;
}

.nav-btn {
    list-style-type: none;
    margin: 0;
}

ul.nav-btn>li {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}

/* 헤더 영역 전용 */
.hd {
    position: relative;
    width: 980px;
    height: 300px;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #eeeeee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.word-intro {
    color: skyblue;
    font-size:20px;
    margin: 15px;
}

.hd-title {
    font-size: 60px;
    margin: 10px;
}

.hd-quick-intro {
    color: skyblue;
    font-size: 24px;
    font-weight: bold;
}